<a href="https://colab.research.google.com/github/sabinamunoz/lab-customer-analysis-round-1/blob/master/LAB3_WEEK1_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

1. **Read the three files into python as dataframes**

In [ ]:
df1= pd.read_csv('/content/drive/MyDrive/IronHack Bootcamp/UNIT1/LABS/LAB3/file1.csv', sep=',')

In [ ]:
df2 = pd.read_csv('/content/drive/MyDrive/IronHack Bootcamp/UNIT1/LABS/LAB3/file2.csv', sep= ',')

In [ ]:
df3 = pd.read_csv('/content/drive/MyDrive/IronHack Bootcamp/UNIT1/LABS/LAB3/file3.csv', sep = ',')

**2. Show the DataFrame's shape.**

In [ ]:
df1.shape

(4008, 1)

In [ ]:
df2.shape

(996, 1)

In [ ]:
df3.shape

(996, 1)

**3. Standardize header names. Rearrange the columns in the dataframe as needed**

In [ ]:
df1.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [ ]:
df2.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [ ]:
df3.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [ ]:
df3 = df3.rename(columns={'State':'ST'}) #Rename the column in df from 'STATE' to 'ST'

In [ ]:
df3.columns #Display columns to see if it worked

Index(['Customer', 'ST', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [ ]:
df1= df1.rename(columns=str.upper) #We convert the column names to Upper case.

In [ ]:
df2 = df2.rename(columns=str.upper)

In [ ]:
df3 = df3.rename(columns=str.upper)

In [ ]:
df1.columns
df2.columns
df3.columns

Index(['CUSTOMER', 'ST', 'CUSTOMER LIFETIME VALUE', 'EDUCATION', 'GENDER',
       'INCOME', 'MONTHLY PREMIUM AUTO', 'NUMBER OF OPEN COMPLAINTS',
       'POLICY TYPE', 'TOTAL CLAIM AMOUNT', 'VEHICLE CLASS'],
      dtype='object')

**5. Concatenate the three dataframes**

In [ ]:
data=pd.concat([df1,df2,df3]).reset_index(drop=True)

In [ ]:
display(data)

,CUSTOMER,ST,GENDER,EDUCATION,CUSTOMER LIFETIME VALUE,INCOME,MONTHLY PREMIUM AUTO,NUMBER OF OPEN COMPLAINTS,POLICY TYPE,VEHICLE CLASS,TOTAL CLAIM AMOUNT
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
12069,LA72316,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
12070,PK87824,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
12071,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
12072,UP19263,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
12073,Y167826,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

 **6. Which columns are numerical?**

In [ ]:
data._get_numeric_data().head()

    INCOME  MONTHLY PREMIUM AUTO  TOTAL CLAIM AMOUNT
0      0.0                1000.0            2.704934
1      0.0                  94.0         1131.464935
2  48767.0                 108.0          566.472247
3      0.0                 106.0          529.881344
4  36357.0                  68.0           17.269323

In [ ]:
data.select_dtypes(include=['object']).columns

Index(['CUSTOMER', 'ST', 'GENDER', 'POLICY TYPE', 'VEHICLE CLASS'], dtype='object')

**Which columns are categorical?**
CUSTOMER, ST, GENDER, EDUCATION, POLICY TYPE, VEHICLE CLASS

**Perform the data cleaning operations mentioned so far in class**




1. Delete the column education and the number of open complaints from the
dataframe.

In [ ]:
data= data.drop('EDUCATION', axis=1)

In [ ]:
data= data.drop('NUMBER OF OPEN COMPLAINTS' , axis =1)

In [ ]:
data.columns

Index(['CUSTOMER', 'ST', 'GENDER', 'CUSTOMER LIFETIME VALUE', 'INCOME',
       'MONTHLY PREMIUM AUTO', 'POLICY TYPE', 'VEHICLE CLASS',
       'TOTAL CLAIM AMOUNT'],
      dtype='object')

2. Correct the values in the column customer lifetime value. They are given as a percent, so multiply them by 100 and change dtype to numerical type.

In [ ]:
data['CUSTOMER LIFETIME VALUE'] = data['CUSTOMER LIFETIME VALUE'].str.replace('%', '')

In [ ]:
data['CUSTOMER LIFETIME VALUE'] = pd.to_numeric(data['CUSTOMER LIFETIME VALUE'])*100

In [ ]:
display (data)

,CUSTOMER,ST,GENDER,CUSTOMER LIFETIME VALUE,INCOME,MONTHLY PREMIUM AUTO,POLICY TYPE,VEHICLE CLASS,TOTAL CLAIM AMOUNT
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,69795359.0,0.0,94.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,128874317.0,48767.0,108.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,76458618.0,0.0,106.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,53630765.0,36357.0,68.0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...
12069,LA72316,California,M,NaN,71941.0,73.0,Personal Auto,Four-Door Car,198.234764
12070,PK87824,California,F,NaN,21604.0,79.0,Corporate Auto,Four-Door Car,379.200000
12071,TD14365,California,M,NaN,0.0,85.0,Corporate Auto,Four-Door Car,790.784983
12072,UP19263,California,M,NaN,21941.0,96.0,Personal Auto,Four-Door Car,691.200000
12073,Y167826,California,M,NaN,0.0,77.0,Corporate Auto,Two-Door Car,369.600000

In [ ]:
data.dtypes

CUSTOMER                    object
ST                          object
GENDER                      object
CUSTOMER LIFETIME VALUE    float64
INCOME                     float64
MONTHLY PREMIUM AUTO       float64
POLICY TYPE                 object
VEHICLE CLASS               object
TOTAL CLAIM AMOUNT         float64
dtype: object

**3. Check for duplicate rows in the data and remove if any.**

In [ ]:
duplicate_rows = data.duplicated()

In [ ]:
data = data.drop_duplicates()

In [ ]:
display(data)

,CUSTOMER,ST,GENDER,CUSTOMER LIFETIME VALUE,INCOME,MONTHLY PREMIUM AUTO,POLICY TYPE,VEHICLE CLASS,TOTAL CLAIM AMOUNT
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,69795359.0,0.0,94.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,128874317.0,48767.0,108.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,76458618.0,0.0,106.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,53630765.0,36357.0,68.0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...
12069,LA72316,California,M,NaN,71941.0,73.0,Personal Auto,Four-Door Car,198.234764
12070,PK87824,California,F,NaN,21604.0,79.0,Corporate Auto,Four-Door Car,379.200000
12071,TD14365,California,M,NaN,0.0,85.0,Corporate Auto,Four-Door Car,790.784983
12072,UP19263,California,M,NaN,21941.0,96.0,Personal Auto,Four-Door Car,691.200000
12073,Y167826,California,M,NaN,0.0,77.0,Corporate Auto,Two-Door Car,369.600000

In [ ]:
filtered_data = data[data['INCOME'] <= 0]

In [ ]:
display(filtered_data)

,CUSTOMER,ST,GENDER,CUSTOMER LIFETIME VALUE,INCOME,MONTHLY PREMIUM AUTO,POLICY TYPE,VEHICLE CLASS,TOTAL CLAIM AMOUNT
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,69795359.0,0.0,94.0,Personal Auto,Four-Door Car,1131.464935
3,WW63253,California,M,76458618.0,0.0,106.0,Corporate Auto,SUV,529.881344
7,CF85061,Arizona,M,72161003.0,0.0,101.0,Corporate Auto,Four-Door Car,363.029680
10,SX51350,California,M,47389920.0,0.0,67.0,Personal Auto,Four-Door Car,482.400000
...,...,...,...,...,...,...,...,...,...
12063,WZ45103,California,F,NaN,0.0,76.0,Personal Auto,Four-Door Car,364.800000
12065,RX91025,California,M,NaN,0.0,185.0,Personal Auto,SUV,1950.725547
12066,AC13887,California,M,NaN,0.0,67.0,Corporate Auto,Two-Door Car,482.400000
12071,TD14365,California,M,NaN,0.0,85.0,Corporate Auto,Four-Door Car,790.784983
12073,Y167826,California,M,NaN,0.0,77.0,Corporate Auto,Two-Door Car,369.600000